<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sales</title>
    <style>

    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }

    </style>
  </head>
  <body>
    <h1>Sales - Today Deliverables</h1>

    <p></p>
    <a href="{%url 'home:upload'%}"> Click here </a></p>
    <table id="customers">
      <tr>
        <th>Ticket_ID</th>
        <th>Subject</th>
        <th>Stakeholder</th>
        <th>Company</th>
        <th>Estimated_Delivery_Date</th>
      </tr>
      {% for entry in Ticket %}
      <tr>
        <td>{{entry.Ticket_ID}}</td>
        <td>{{entry.Subject}}</td>
        <td>{{entry.Full_name}}</td>
        <td>{{entry.Company_Name}}</td>
        <td>{{entry.Estimated_Delivery_Date}}</td>
      </tr>
      {% endfor %}

    </table>
  </body>
</html>
