<title>Draup-Remainders</title>
{% extends 'notifications/base.html' %}
<style media="screen">
  .container {
padding: 2rem 0rem;
}

h4 {
margin: 2rem 0rem 1rem;
}

.table-image {
td, th {
vertical-align: middle;
}
}
</style>
{% block body_block %}

<div class="container">

<div class="row">
<div>
<table class="table table-bordered">
  <br>
  <h4>Today Confirmed Deliverables...</h4>
  <br>
  <thead>
    <tr>
      <th style="text-align:center">S.No.</th>
      <th  style="text-align:center">Ticket No.</th>
      <th  style="text-align:center">Subject</th>
      <th  style="text-align:center">Stakeholder</th>
      <th  style="text-align:center">Company</th>
      <!--<th  style="text-align:center">Confirmed Date</th> -->
    </tr>
  </thead>
  {% for entry in Ticket %}
  <tbody>
    <tr>
      <td  style="text-align:center">{{forloop.counter}}</td>
      <td  style="text-align:center">{{entry.Ticket_ID}}</td>
      <td  style="text-align:left">{{entry.Subject}}</td>
      <td style="text-align:center">{{entry.Full_name}}</td>
      <td  style="text-align:center">{{entry.Company_Name}}</td>
      <!--<td  style="text-align:center">{{entry.updated_time}}</td>-->
    </tr>
    {% endfor %}
  </tbody>
</table>
<table class="table table-bordered">
  <br>
  <h4>Today Not Confirmed Deliverables...</h4>
  <br>
  <thead>
    <tr>
      <th style="text-align:center">S.No.</th>
      <th  style="text-align:center">Ticket No.</th>
      <th  style="text-align:center">Subject</th>
      <th  style="text-align:center">Stakeholder</th>
      <th  style="text-align:center">Company</th>
    </tr>
  </thead>
  {% for entry in Ticketsnot %}
  <tbody>
    <tr>
      <td  style="text-align:center">{{forloop.counter}}</td>
      <td  style="text-align:center">{{entry.Ticket_ID}}</td>
      <td  style="text-align:left">{{entry.Subject}}</td>
      <td style="text-align:center">{{entry.Full_name}}</td>
      <td  style="text-align:center">{{entry.Company_Name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
{% endblock %}
