<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div  class="text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">Your resposes have been recorded, Our team will reach you for any further query</p>
  <hr>
  <p>
    Having concern? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="" role="button">Continue to homepage</a>
  </p>
</div>
  </body>
</html>
