*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	}

.header{
	width: 100%;
	height: 60vh;
	background-color: #fff;
	position: relative;
}

.header .navbar{
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	margin-top: 30px;
}


.logo img{
	margin-left: 100px;
}

.menu ul li{
	display: inline-block;
	padding: 0 25px;
	cursor: pointer;
	font-size: 19px;
	font-weight: 700;
	line-height: 80px;
	align-items: left;


}

.login-btn{
	display: block;
	font-size: 19px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 30px;
	background-color: #3477eb;
	padding: 8px 40px;
	margin-right: 100px;
	color: white
}

.banner{
	width: 80%;
	height: 70%;
	position: absolute;
	top: 25%;
	left: 150px;
	color: #fff;
}

.app-text{
	width: 50%;
	float: left;
	padding-left: 50px;
}


.app-text h1{
	font-size: 51px;
	position: relative;
	color: #000;
	margin-top: 30px;
	font-weight: 700;
	line-height: 1;
}

.app-picture{
	position: absolute;
	right: 30px;
	top: 30%;
}

.platform{
	border-radius: 12px;
}
.platform {
  background-color: #3477eb;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
