<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Draup-Remainders</title>
    <link rel = "icon" href ="{% static '/images/title-logo.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style media="screen">
      .container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}
    </style>
  </head>
  <body>
    <div class="container">
      <p>Hi Universe User,</p>
      <p>Please select the check box and click submit to save your response..</p>
      <br>
<form  method="post">
<div class="row">
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Check Box</th>
          <th  scope="col">Ticket No.</th>
          <th  scope="col">Subject</th>
          <th  scope="col">Stakeholder</th>
          <th  scope="col">Company</th>
          <th  scope="col">Delivery Date</th>
        </tr>
      </thead>
      {% for entry in Ticket %}
      <tbody>
        <tr>
          <td style="text-align:center"><input type="checkbox"  name="Ticket_ID" value={{entry.Ticket_ID}}>
          <td  style="text-align:center">{{entry.Ticket_ID}}</td>
          <td>{{entry.Subject}}</td>
          <td>{{entry.Full_name}}</td>
          <td>{{entry.Company_Name}}</td>
          <td style="text-align:center">{{entry.Estimated_Delivery_Date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  {% csrf_token %}
  <br><input onclick="return confirm('Are you sure do you want to continue ?');" class="btn btn-primary" type="submit" value="Submit">
</form>
</div>
  </body>
</html>
