<title>Draup-Remainders</title>
{% extends 'notifications/base.html' %}

{% block body_block %}
      <div class="jumbotron">
    <h5><em>Please use .csv file format, make sure your table must follow below order ....</em></h5>
    <br>
    <table id="customers">
    <tr>
      <th style="text-align:center">Ticket ID</th>
      <th style="text-align:center">Subject</th>
      <th style="text-align:center">Status</th>
      <th style="text-align:center">Source</th>
      <th style="text-align:center">Type</th>
      <th style="text-align:center">Agent</th>
      <th style="text-align:center">Group</th>
      <th style="text-align:center">Created time</th>
      <th style="text-align:center">Product</th>
      <th style="text-align:center">Follow-up Date</th>
      <th style="text-align:center">Estimated Delivery Date</th>
      <th style="text-align:center">Full name</th>
      <th style="text-align:center">Email</th>
      <th style="text-align:center">Company Name</th>
    </tr>
  </table>
  <br>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="">Upload a file</label>
      <input type="file" name="file">
      <br>
      <br>
      <button onclick="return confirm('Are you sure do you want to continue ?');" class='btn btn-success' type="submit">Upload</button>
    </form>
    </div>
 {% endblock %}
